.custom-block.tip{
  border-color: #1890ff
}
.theme-default-content code .token.inserted{
  color: #60bd90;
}
//.custom-block.warning{
//  border-color: #fa8c16
//}
//.custom-block.error{
//  border-color: #f5222d
//}
